body{
font-family:Arial;
margin:0;
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
display:flex;
align-items:center;
justify-content:space-around;
padding:80px;
}

.hero img{
width:300px;
border-radius:10px;
}

section{
padding:60px;
}

.project{
display:flex;
align-items:center;
gap:40px;
margin-top:40px;
}

.project img{
width:250px;
}

.reverse{
flex-direction:row-reverse;
}

form{
display:flex;
flex-direction:column;
width:300px;
}

input, textarea{
margin-bottom:10px;
padding:10px;
}

button{
padding:10px;
background:#38bdf8;
border:none;
cursor:pointer;
}